html.
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>

  </head>
  <body>
  <header>
    <h1>Quadrants</h1>
    <form action="/send" method="get" id="form">
      <label>Search: </label><input type="text" name="category" id="search"<br>
      <label>Location: </label> <input type="text" name="location" id="location">
      <input class="submit" type="submit" value="Search">
  </header>
    
    </form> 
  </body>
