html.
  <head>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <h1>hello world</h1>
    <form action="/Send" method="post">
      Search: <input type="text" name="search" id="search"<br>
      Location <input type="text" name="location" id="location">
      <input type="button" value="Search">
    </form> 
  </body>