header {
  height: 100px;
  width:100%;
  top:0px;
  left: 0px;
  background-color: rgba(0,0,0,1);
  position: absolute;
}


body {
  margin: auto;
  margin-top: 150px;
  width:905px;
  margin-bottom: 50px;
  font-family: 'Metrophobic', sans-serif;
}

button {
  background-color: rgba(255,255,255,0.9);
  margin: 10px;
  height: 40px;
  width: 240px;
  border-radius:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius-top-left: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
}

h1 { font-size: 50px;
     color: rgb(255,255,255);
     margin: auto;
    float:left;}

h4 {margin: 10px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: -40px;
    margin-left: 150px;
    }

h5 {margin:10px;
    font-weight: bold;
    font-size: 18px;}

h6 {font-weight: bold;
    color:white;
    padding: 7px;
    font-size: 14px;}

p, li {margin:5px;
      font-size: 16px;
      line-height: 20px;}

form {
  padding-top: 50px;
  float:right;
  margin-right: 20px;
}

label {
   color: rgb(255,255,255);
   font-size: 30px;
   margin-right: 10px;
   margin-bottom: -5px;
}

input[type=submit] {
  width: 100px;
  height:40px;
  font-size: 20px;
}

input[type=text] {
  width: 200px;
  height: 30px;
}

.grid {
  z-index: 0;
}

.text {
  z-index: 100;
  font-family: 'Metrophobic', sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
}

.background {
  z-index: 50;
}

